<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Amo Suspiros Gourmet - Sobre Nós</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<!-- Conteúdo principal -->
    <div class="container mt-4">
        <div class="jumbotron">
           <center><h1 class="display-4">Sobre Nós</h1></center> 
            <p class="lead">Somos apaixonados por suspiros e nossa missão é oferecer os mais deliciosos suspiros
                gourmet feitos com ingredientes selecionados e amor. Começamos nossa jornada com a ideia de trazer
                alegria e doçura para a vida das pessoas através de nossos produtos.</p>
            <hr class="my-4">
            <p>Desde o início, nossa equipe se dedica a criar suspiros crocantes por fora e macios por dentro, com
                uma variedade de sabores que encantam paladares.</p>
        </div>
    </div>

    <!-- Bootstrap JavaScript e dependências -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% include "ecom/footer.html" %}
</body>

</html>
