{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<head>

</head>
<style media="screen">

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<br><br>
<center><h1>Seu pedido foi feito. Entre em contato com o vendedor.</h1></center>
<br><br>
<div class="container" style="text-align:center; padding-left:300px;">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="height:500px; width:600px;">
            <a href="https://api.whatsapp.com/send/?phone=558488625199&text&type=phone_number&app_absent=0" class="btn btn-success btn-lg btn-block" role="button">Conversar com vendedor</a>
        </div>
    </div>
</div>


{% endblock content %}
