{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<style media="screen">
  .success-page{
  max-width:300px;
  display:block;
  margin: 0 auto;
  text-align: center;
      position: relative;
    top: 50%;
    transform: perspective(1px) translateY(50%)
}
.success-page img{
  max-width:62px;
  display: block;
  margin: 0 auto;
}

h2{
  color:#0014ff;
    margin-top: 25px;

}
a{
  text-decoration: none;
}
</style>

<div class="container mt-4">
  <div class="row">
    <center><h2>Pedido bem sucedido!</h2></center>
      <p>Entre em contato com o vendedor para o pagamento</p>
      <div class="col-md-4">
          <a href="https://api.whatsapp.com/send/?phone=558488625199&text&type=phone_number&app_absent=0" class="btn btn-success btn-block mb-3">Entrar em contato com o vendedor</a>
      </div>
      <div class="col-md-4">
          <a href="/my-order" class="btn btn-info btn-block mb-3">Ver pedidos</a>
      </div>
      <div class="col-md-4">
          <a href="/customer-home" class="btn btn-warning btn-block mb-3">Continuar comprando</a>
      </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br><br><br><br>
<br><br><br><br>
{% endblock content %}